# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Parallel exercise
data
parallel

# Reduction
reduction/Alphas.mat
reduction/AlphasMPI.mat
reduction/Betas.mat
reduction/BetasMPI.mat
reduction/Gammas.mat
reduction/GammasMPI.mat
seq
mpi
matrix

# Mandelbrot
mandelbrot/mandelbrot

# CG
cg/gen
cg/main
cg/mat.txt